/MoreItalians/target/
/SelfGeneratingLib/target/
/SelfGeneratingCommon/target/
/TestAndRebuild/target/
/TestAndInstall/target/
selfjar/workspace/
TestAndInstall/workspace/
charun/Charun/Release/
charun/Charun/Debug/
charun/Charun.opensdf
charun/Charun.sdf
